<div class="border-top py-2 border-color">
	<div class="flex-bottom">
		<ul>
			{{ with $.Site.Params.Submit }}
			<li class="sidebar-item">
				<a rel="noopener" href="{{ . }}" target="_blank">
					<i class="fas fa-plus-square fa-lg icon-fw icon-lg mr-2"></i>
					<span>网站提交</span>
				</a>
			</li>
			{{ end }}
			<li class="sidebar-item">
				<a rel="noopener" href="#friendlink">
					<i class="fas fa-user-friends fa-lg icon-fw icon-lg mr-2"></i>
					<span>友情链接</span>
				</a>
			</li>
			{{ with $.Site.Params.About }}
			<li class="sidebar-item">
				<a rel="noopener" href="{{ . }}" target="_blank">
					<i class="fas fa-info-circle fa-lg icon-fw icon-lg mr-2"></i>
					<span>关于本站</span>
				</a>
			</li>
			{{ end }}
		</ul>
	</div>
</div>