<div class="sidebar-menu flex-fill">
    <div class="sidebar-scroll">
        <div class="sidebar-menu-inner">
            {{ with $.Site.Data.webstack }}
            <ul>
                {{ range . }}
                {{ if and .list (gt (len .list) 0) }}
                <li class="sidebar-item">
                    <a href="#category-{{ md5 .taxonomy }}" class="smooth">
                        {{ with .icon }}<i class="{{ . }} icon-fw icon-lg mr-2"></i>{{ end }}
                        <span>{{ .taxonomy }}</span>
                    </a>
                    {{ with .list }}
                    {{ if gt (len .) 0 }}
                    <ul>
                        {{ range . }}
                        <li>
                            <a href="#category-{{ md5 .term }}" class="smooth">
                                {{ with .icon }}<i class="{{ . }} icon-fw icon-lg mr-2"></i>{{ end }}
                                <span>{{ .term }}</span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ end }}
                </li>
                {{ end }}
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>
